body {
    background: #333;
    color: white;
    font-family: sans-serif;
}

/* Code Mirror */

#collabEditor {
    display: none;
}
.CodeMirror
{
    line-height:1.8em;
}

.cursorElement {
    border-left-style: solid;
    border-left-width: 2px;
    padding: 0;
    z-index: 0;
}

.cursorFlag {
    font-family: sans-serif;
    font-size: 0.6em;
    line-height: 1em;
    position: absolute;
    top: -0.5em;
    padding: 0.1em;
    margin-left: -2px;
}

/* UI */

#sessionInfo {
    position: absolute;
    right: 1em;
    top: 1em;
}
